<ion-header >
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
      <ion-buttons slot="end">
        <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
      </ion-buttons>
        <ion-buttons slot="end" >
        <ion-menu-button style="color: white !important"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Register
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:99.99%">
        99.99%
      </div>
    </div>
  
  <ion-content>
    
      <div class="inputForm">
          <br>
      <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
          <br>
          <div class="col-sm-40">
            <input type="text" class="form-control" id="Emergency Name" placeholder="Emergency contact person..." name="Emergency Name" required maxlength="13">
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-sm-40">
            <input type="text" class="form-control" id="Emergency Contact" placeholder="Emergency Contact..." name="Emergency Contact" required maxlength="10">
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-sm-40">
            <input type="text" class="form-control" id="Medical Aid" placeholder="Medical Aid..." name="Medical Aid" required>
          </div>
        </div>
  
        <!--Let op die JavaScript function: maak seker die function is gemaak vir elke dropdown. Die disabled option wys blou en as n ander value select is dan raak dit wit-->
  
        <div class="form-group">
          <div class="col-sm-40">
            <select class="form-control" id="Select1" onchange="selectColor()" required>
              <option selected disabled hidden value="Bloodtype...">Bloodtype...</option>
              <option>A+</option>
              <option>B+</option>
              <option>AB+</option>
              <option>O+</option>
              <option>A-</option>
              <option>B-</option>
              <option>AB-</option>
              <option>O-</option>
            </select>
          </div>
        </div>
  
        <!--Moenie die save button verander nie-->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-40" id="savediv">
            <button type="submit" class="btn btn-default" id="Save">SAVE</button>
          </div>
          <div class="col-sm-offset-1 col-sm-offset-1" id="savediv">
              <button type="submit" class="btn btn-default" id="Save">BACK</button>
            </div>
        </div>
      </form>
      </div>
  </ion-content>
  
