<br>
<br>
<h1>NOTIFICATIONS</h1>
<hr class="hrow"/>
<div class="media border p-3">
  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
  <div class="media-body">
    <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
    <p>Hi guys, remember that Tomorrow evening is a full moon, so be on the lookout!</p>
  </div>
</div>
<br>
<div class="media border p-3">
    <img src="https://www.w3schools.com/w3images/avatar5.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4>Jane Doe <small><i>Posted on February 15, 2016</i></small></h4>
      <p>Hello everyone! We still need a few people to patrol next week, please!</p>
    </div>
  </div>
  <br>
<div class="media border p-3">
    <img src="https://www.w3schools.com/w3images/avatar5.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4>Jane Doe <small><i>Posted on February 13, 2016</i></small></h4>
      <p>Be on the lookout tonight, we have had numerous fence cuttings this week.</p>
    </div>
  </div>