<ion-header >
  <ion-toolbar>
      <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
    <ion-buttons slot="end">
      <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
    </ion-buttons>
      <ion-buttons slot="end" >
      <ion-menu-button style="color: white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Shift Bookings
    </ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-buttons slot="end">
        <ion-button (click)="today()">Today</ion-button>
      </ion-buttons>
    <!-- Card for adding a new event -->
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title align="center" style="font-size: 25px">Book Shift <ion-icon name="add-circle" size="medium"></ion-icon></ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard">
          <ion-select placeholder="Select Reserve..." class=" form-control" id="Select1" style="margin-bottom:2% !important;" onchange="selectColor()" required>
              <!-- <ion-select-option selected disabled hidden value="Gender..." aria-placeholder="Gender...">G</ion-select-option> -->
              <ion-select-option>Rietvlei</ion-select-option>
              <ion-select-option>Dinokeng</ion-select-option>
              <ion-select-option>Other</ion-select-option>
            </ion-select>
       <ion-select placeholder="Select Passenger..." class=" form-control" id="Select1" style="margin-bottom:2% !important;" onchange="selectColor()" required>
              <!-- <ion-select-option selected disabled hidden value="Gender..." aria-placeholder="Gender...">G</ion-select-option> -->
              <ion-select-option>I'm patrolling alone</ion-select-option>
              <ion-select-option>Rijnhardt</ion-select-option>
              <ion-select-option>Lize</ion-select-option>
            </ion-select>
            <ion-select placeholder="Select Vehicle..." class=" form-control" id="Select1" style="margin-bottom:2% !important;" onchange="selectColor()" required>
                <!-- <ion-select-option selected disabled hidden value="Gender..." aria-placeholder="Gender...">G</ion-select-option> -->
                <ion-select-option>ERP Bakkie</ion-select-option>
                <ion-select-option>Honda CRV</ion-select-option>
                <ion-select-option>Hundai i20</ion-select-option>
              </ion-select>
        <ion-item>
          <ion-label>Start</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>End</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item style="margin-bottom: 10%">
          <ion-label>All Day?</ion-label>
          <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
        </ion-item>
        <ion-button fill="outline" expand="block" (click)="addEvent()" >Add Shift Booking</ion-button>
   
      </ion-card-content>
    </ion-card>
   <br>
    <ion-row>
        
        <ion-col size="3">
            <ion-button expand="block" id="today"  (click)="today()">Today</ion-button>
          </ion-col>
      <ion-col size="3">
        <ion-button expand="block" id="month"[ngClass]="calendar.mode == 'month' ? 'Selected' : 'NotSelected'" (click)="changeMode('month')">Month</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" [ngClass]="calendar.mode == 'week' ? 'Selected' : 'NotSelected'" (click)="changeMode('week')">Week</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" [ngClass]="calendar.mode == 'day' ? 'Selected' : 'NotSelected'" (click)="changeMode('day')">Day</ion-button>
      </ion-col>
   
      <!-- Move back one screen of the slides -->
      <ion-col size="6" text-left>
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
   
      <!-- Move forward one screen of the slides -->
      <ion-col size="6" text-right>
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
   
    <calendar 
    [eventSource]="eventSource" 
    [calendarMode]="calendar.mode" 
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" 
    startHour="0"
    endHour="24"
    step="60"
    startingDayWeek="1" 
    style="width: fit-content; ">
    </calendar>
   
  </ion-content>