<ion-header>
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
        <ion-buttons slot="end">
            <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: white !important"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            My Rewards
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <br>


    <ion-img src="/assets/SVGS-01.svg" style="margin: auto; width: 35%"></ion-img>
    <br>
    <br>
    <ion-card-title style="text-transform: uppercase;margin: auto; text-align: center; color: black; font-size: 16px">John Doe</ion-card-title>
    <p style="margin-left: auto; text-align: center;color:rgb(102,116,143);font-size:20px">Reward Status: <b style="font-size: 24px">100 Points</b></p>
    <hr style="height:0pt; visibility:hidden;" />

    <ion-buttons routerLink="/rewardtype" style="background-color: rgb(102,116,143); width: 70%;margin: auto;padding-bottom:7px; padding-top:8px; border-radius: 5px !important">
        <ion-img src="/assets/_ionicons_svg_md-star.svg" style="margin: auto; width: 12%; color:rgb(102,116,143)"></ion-img>
        <p style="margin: auto; text-align: left; color:white; font-size:16px">
            <b style="color: rgb(102,116,143);">..</b><b>CLAIM REWARDS</b><b style="color: rgb(102,116,143);">........</b>
        </p>

    </ion-buttons>
    <hr style="height:0pt; visibility:hidden;" />

    <ion-buttons routerLink="/generagevoucher" style="background-color: rgb(102,116,143); width: 70%;margin: auto;padding-bottom:7px; padding-top:8px; margin-bottom:10%;border-radius: 5px !important">
        <ion-img src="/assets/_ionicons_svg_md-star.svg" style="margin: auto; width: 12%; color:rgb(102,116,143)"></ion-img>
        <p style="margin: auto; text-align: left; color:white; font-size:16px">
            <b>CLAIMED REWARDS</b><b style="color: rgb(102,116,143);">...</b>
        </p>
    </ion-buttons>