<ion-header>
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
        <ion-buttons slot="end">
            <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: white !important"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            REWARDS
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <h4>SELECTE TYPE</h4>

    <ion-item>
        <button data-toggle="collapse" data-target="#demo" type="button" style="background-color: rgb(102,173,177); width: 40%;margin: auto;padding-bottom:7px; padding-top:8px; color:rgba(3,70,76)"><b>Product</b></button>
        <button data-toggle="collapse" data-target="#demo1" style="background-color: rgb(102,173,177); width: 40%;margin: auto;padding-bottom:7px; padding-top:8px; color:rgba(3,70,76)"><b>Event</b></button>
    </ion-item>
    <div class="collapse" id="demo">
        <h6 align="center">Product Reward</h6>
        <br>
        <div class="outer">
            <!--Moenie buttons en search bar verander nie-->
            <div class="search">
                <form action="/action_page.php" id="searchform">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="search" id="SearchBTN"><button class="btn btn-default" type="submit" id="Search"><img src="/assets/ios-search.svg" class="SearchbtnIMG" /></button>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <div class="col-sm-10">
            <ion-title>
                Ranger Profile Information
            </ion-title>
            <br/>
            <div class="inputForm">

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Ranger Identity & Login details
                      </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="First Name..." required="true"></ion-input>
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Last Name..." required="true"></ion-input>
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Username..." required="true"></ion-input>
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Password..." required="true"></ion-input>
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Confirm Password..." required="true"></ion-input>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        My Personal details
                      </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Identification Number..." required="true"></ion-input>
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Email..." required="true"></ion-input>
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Phone..." required="true"></ion-input>

                                <div class="form-group">
                                    <div class="col-sm-40">

                                        <ion-select placeholder="Select Gender..." class="ion-padding-start form-control" id="Select1" style="margin-bottom:2% !important;" onchange="selectColor()" required>
                                            <!-- <ion-select-option selected disabled hidden value="Gender..." aria-placeholder="Gender...">G</ion-select-option> -->
                                            <ion-select-option>Male</ion-select-option>
                                            <ion-select-option>Female</ion-select-option>
                                            <ion-select-option>Other</ion-select-option>
                                        </ion-select>
                                    </div>
                                </div>
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Job Title..." required="true"></ion-input>

                                <div class="form-group">
                                    <div class="col-sm-40">
                                        <ion-select placeholder="Select Status..." class="ion-padding-start form-control" id="Select1" style="margin-bottom:2% !important;" onchange="selectColor()" required>
                                            <ion-select-option>Active</ion-select-option>
                                            <ion-select-option>Inactive</ion-select-option>
                                            <ion-select-option>Other</ion-select-option>
                                        </ion-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        My Medical Details
                      </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Emergency Contact Name..." required="true"></ion-input>
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Emergency Contact Number..." required="true"></ion-input>
                                <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Medical Aid..." required="true"></ion-input>
                                <div class="form-group">
                                    <div class="col-sm-40">
                                        <ion-select placeholder="Select Bloodtype..." class="ion-padding-start form-control" id="Select1" style="margin-bottom:2% !important;" onchange="selectColor()" required>
                                            <ion-select-option>A+</ion-select-option>
                                            <ion-select-option>B+</ion-select-option>
                                            <ion-select-option>AB+</ion-select-option>
                                            <ion-select-option>O+</ion-select-option>
                                            <ion-select-option>A-</ion-select-option>
                                            <ion-select-option>B-</ion-select-option>
                                            <ion-select-option>AB-</ion-select-option>
                                            <ion-select-option>O-</ion-select-option>
                                        </ion-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div style="float: right;">
                    <ion-button style="margin-bottom:10%;">Save Changes</ion-button>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="collapse" id="demo1">
        <h6 align="center">Event Reward</h6>
        <br>
        <div class="outer">
            <!--Moenie buttons en search bar verander nie-->
            <div class="search">
                <form action="/action_page.php" id="searchform">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="search" id="SearchBTN"><button class="btn btn-default" type="submit" id="Search"><img src="/assets/ios-search.svg" class="SearchbtnIMG" /></button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div>
            <table class="table table-striped" style="width:auto">
                <thead>
                    <tr id="header">

                        <th>Event Name</th>
                        <th>Date</th>
                        <th>Points required</th>
                        <th>Description</th>


                        <!--<th>Actions</th>-->
                    </tr>
                </thead>
                <tbody id="mytable">
                    <tr>
                        <td>Sun City</td>
                        <td>2019/04/16</td>
                        <td>18000</td>
                        <td>2 day vacation in a 3 bed bungalo</td>

                        <!--Moenie die code verander nie. Sit net nuwe kollomme bo dit in-->
                        <!--<td> <button class="btn btn-default btn-sm" id="editbtn" routerLink='/modify-ranger'><img src="/assets/ios-create.svg"
            class="edit" /></button><button class="btn btn-default btn-sm" id="editbtn" data-toggle="modal" data-target="#Delmodal"><img
            src="/assets/ios-trash.svg" class="edit" /></button> -->
                    </tr>
                    <tr>
                        <td>San Lameer</td>
                        <td>2019/06/17</td>
                        <td>26000</td>
                        <td>4 days in a 4 bedroom bungalo</td>

                        <!--<td> <button class="btn btn-default btn-sm" id="editbtn"><img src="/assets/ios-create.svg"
            class="edit" /></button><button class="btn btn-default btn-sm" id="editbtn"><img
            src="/assets/ios-trash.svg" class="edit" /></button> -->
                    </tr>
                    <tr>
                        <td>Carnival City</td>
                        <td>2019/09/23</td>
                        <td>20000</td>
                        <td>4 tickets for a trevor Noah show</td>
                        <!--<td> <button class="btn btn-default btn-sm" id="editbtn"><img src="/assets/ios-create.svg"
            class="edit" /></button><button class="btn btn-default btn-sm" id="editbtn"><img
            src="/assets/ios-trash.svg" class="edit" /></button>-->
                    </tr>
                </tbody>

            </table>
        </div>
    </div>