<ion-header>
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
        <ion-buttons slot="end">
            <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: white !important"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Rewards
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <h4>Select Type</h4>
    <br>
    <ion-item lines="none">
        <button data-toggle="collapse" data-target="#demo" type="button" style="background-color: rgb(102,116,143); width: 40%;margin: auto;padding-bottom:7px; padding-top:8px; color:white;border-radius: 5px !important"><b>Product</b></button>
        <button data-toggle="collapse" data-target="#demo1" style="background-color: rgb(102,116,143); width: 40%;margin: auto;padding-bottom:7px; padding-top:8px; color:white;border-radius: 5px !important"><b>Event</b></button>
    </ion-item>
    <div class="collapse" id="demo">

        <br>
        <div class="outer">
            <!--Moenie buttons en search bar verander nie-->
            <div class="search">
                <form action="/action_page.php" id="searchform">
                    <div class="input-group" style="background-color: rgb(207, 209, 211)">
                        <input type="text" class="form-control" placeholder="Search..." name="search" id="SearchBTN" [(ngModel)]="searchText1" style="border-radius: 5px !important"> <button style="background-color: rgb(102,116,143); border-radius: 5px !important;"
                            class="btn btn-default" type="submit" id="Search"><img src="/assets/ios-search.svg" style="filter: invert(2)" width="25px" height="22px" /></button>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-sm-10">
            <ion-title align="center" style="color: black">
                Product Reward
            </ion-title>
            <br/>
            <div class="inputForm">

                <div id="accordion">
                    <div class="card" *ngFor="let Product of Products|filter: searchText1">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn " data-toggle="collapse" [attr.data-target]="'#collapseOne-' + Product.PID" style="width:100%" aria-expanded="true" aria-controls="collapseOne">
                       <b style="color:white" >{{Product.PName}}</b>
                      </button>
                            </h5>
                        </div>
                        <div [attr.id]="'collapseOne-' + Product.PID" style="background-color: rgba(102,116,143,0.7);" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                            <p class="divA1">Points Required: {{Product.PPoints}} </p>

                            <p class="divA1"> Available quantity: {{Product.PQuantity}} </p>

                            <p class="divA1"> {{Product.PDescription}} </p>
                            <div style="width:100%; padding:5px; background-color:rgba(0, 24, 26, 0.23)">
                                <button class="buttonA1" (click)="Validate(Product.PID)" style="border-radius: 5px !important ">
                                    <ion-img src="/assets/ios-cart.svg" style="margin: auto; width: 12%; color:rgb(102,173,177)"></ion-img>
                                                <p style="margin: auto;  font-size:16px">
                                                        <b style="color:white">Claim</b>
                                                </p>
                                            </button>
                            </div>
                        </div>

                    </div>
                </div>
                <br/>


            </div>
        </div>
    </div>

    <br>

    <div class="collapse" id="demo1">
        <br>
        <div class="outer">
            <!--Moenie buttons en search bar verander nie-->
            <div class="search">
                <form action="/action_page.php" id="searchform">
                    <div class="input-group" style="background-color: rgb(207, 209, 211)">
                        <input type="text" class="form-control" placeholder="Search..." name="search" id="SearchBTN" [(ngModel)]="searchText" style="border-radius: 5px !important"><button style="background-color: rgb(102,116,143); border-radius: 5px "
                            class="btn btn-default" type="submit" id="Search"><img src="/assets/ios-search.svg" class="SearchbtnIMG" style="filter: invert(2)"  width="25px" height="22px"  /></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-10">
            <ion-title align="center" style="color: black">
                Event Reward
            </ion-title>
            <br/>
            <div class="inputForm">

                <div id="accordion">
                    <div class="card" *ngFor="let Event of Events|filter: searchText">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn " data-toggle="collapse" [attr.data-target]="'#collapseOne-' + Event.EID" style="width:100%" aria-expanded="true" aria-controls="collapseOne">
                       <b style="color:white">{{Event.EName}}</b>
                      </button>
                            </h5>
                        </div>
                        <div [attr.id]="'collapseOne-' + Event.EID" class="collapse" style="background-color: rgba(102,116,143,0.7);" aria-labelledby="headingOne" data-parent="#accordion">

                            <p class="divA1"> Date: {{Event.EDate}} </p>

                            <p class="divA1"> Required Points: {{Event.EPoints}} </p>

                            <p class="divA1">{{Event.EDescription}} </p>
                            <div style="width:100%; padding:5px; background-color:rgba(0, 24, 26, 0.23)">
                                <button class="buttonA1" (click)="Validate1(Event.EID)" style=" border-radius: 5px !important ">
                                    <ion-img src="/assets/ios-cart.svg " style="margin: auto; width: 12%; color:rgb(102,173,177) "></ion-img>
                                                <p style="margin: auto; font-size:16px ">
                                                        <b style="color:white ">Claim</b>
                                                </p>
                                            </button>
                            </div>
                        </div>




                    </div>
                </div>
                <br/>


            </div>
        </div>
    </div>
    <!--hierdie moet nie in finale program kom ni-->
    <ion-img src="/assets/md-star.svg " style="margin: auto; width: 70%; color:rgb(102,173,177) "></ion-img>
    <br>


</ion-content>