<ion-header>
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
        <ion-buttons slot="end">
            <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: white !important"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Confirmation
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <br>

        <h1 style="color: rgb(3, 36, 51)">OOPS !</h1>
        <h4 style="color: rgb(3, 36, 51)">You can not claim a hat</h4>
    </div>
    <ion-img src="/assets/ios-close-circle-outline.svg" style="margin: auto; width: 50%; color:rgb(102,173,177)"></ion-img>
    <br>
    <p align="center" style="margin: auto; color:rgb(102,116,143)">You still need 100 points to <b>CLAIM</b> this reward</p>
    <br>
    <ion-item lines="none">
        <button type="button" routerLink="/rewardtype" style="background-color: rgb(102,116,143); width: 80%;margin: auto;padding-bottom:7px; padding-top:8px; color:rgba(3,70,76);border-radius: 5px !important"><b style="color: white">Select Other Reward</b></button>
    </ion-item>
</ion-content>