<ion-app>
    <ion-split-pane>
        <div *ngIf="ShowSplash" class="splash">
            <div class="spinner"></div>
        </div>
        <ion-menu side="end">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content style=" --ion-background-color:rgb(102,116,143) !important">
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon style="color:white !important" slot="start" [name]="p.icon"></ion-icon>
                            <ion-label style="color:white !important">
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item (click)="Logout()">
                            <ion-icon style="color:white !important" slot="start" [name]="log-out"></ion-icon>
                            <ion-label style="color:white !important">
                                Logout
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>