.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.fabIncident {
    width: 60px !important;
    height: 60px !important;
    margin-bottom: 8px !important;
}

.new {
    --background: rgb(205, 21, 67);
    --background-hover: rgb(205, 21, 67);
}