.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}
#buttons{
    width:75%;
    margin-left: auto;
    margin-right: auto;  
}


// #fab{
//     width: 30%;
//     margin-left:auto !important;
//     margin-right:auto !important;
    
// // }
// .fabIncident {
//     width: 80px !important;
//     height: 80px !important;
//     padding:10px !important;
    
// }

// ion-fab-list{
//     height:100px !important;
//     width:100px !important;
//     padding: 10px !important;
// }

.new {
    --background: rgb(205, 21, 67);
    --background-hover: rgb(205, 21, 67);
}