<ion-header >
  <ion-toolbar>
      <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
    <ion-buttons slot="end" (click)="openNote()">
      <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
    </ion-buttons>
      <ion-buttons slot="end" >
      <ion-menu-button style="color: white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="test">Click</ion-button>
  <br>
      <ion-img src="/assets/SVGS-01.svg" style="margin: auto; width: 35%"></ion-img>
        <ion-card-title style="text-transform: uppercase;margin: auto; text-align: center; color: white; font-size: 20px">John doe</ion-card-title>
        <p style="margin: auto; text-align: center;color:rgb(102,173,177);font-size:12px">Reward Status: <b>100 Points</b></p>
        <hr style="height:0pt; visibility:hidden;" />
    <ion-img src="/assets/SVGS-05.svg" style="margin: auto; width: 65%"></ion-img>
    <hr style="height:0pt; visibility:hidden;" />
    <ion-img src="/assets/SVGS-06.svg" style="margin: auto; width: 65%"></ion-img>
    <hr style="height:0pt; visibility:hidden;" />
    <ion-img src="/assets/SVGS-07.svg" style="margin: auto; width: 65%"></ion-img>
    <hr style="height:0pt; visibility:hidden;" />
    <ion-img src="/assets/SVGS-04.svg" style="margin: auto; width: 30%"></ion-img>
</ion-content>
