<ion-header >
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
      <ion-buttons slot="end">
        <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
      </ion-buttons>
        <ion-buttons slot="end" >
        <ion-menu-button style="color: white !important"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Register
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:66.66%">
        66.66%
      </div>
    </div>
  
  <ion-content>
    
      <div class="inputForm">
          <br>
      <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
          <br>
          <div class="col-sm-40">
            <input type="text" class="form-control" id="ID" placeholder="Identification Number..." name="ID" required maxlength="13">
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-sm-40">
            <input type="text" class="form-control" id="Emali" placeholder="Email..." name="Email" required >
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-sm-40">
            <input type="text" class="form-control" id="Cell" placeholder="Cellphone Number..." name="Cell" required>
          </div>
        </div>
  
        <!--Let op die JavaScript function: maak seker die function is gemaak vir elke dropdown. Die disabled option wys blou en as n ander value select is dan raak dit wit-->
  
        <div class="form-group">
          <div class="col-sm-40">
            <select class="form-control" id="Select1" onchange="selectColor()" required>
              <option selected disabled hidden value="Gender...">Gender...</option>
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
        </div>
    
        <form class="form-horizontal" action="/action_page.php">
          <div class="form-group">
            <br>
            <div class="col-sm-40">
              <input type="text" class="form-control" id="Jobtitle" placeholder="Jobtitle..." name="Jobtitle" required>
            </div>
          </div>
    
        <div class="form-group">
          <div class="col-sm-40">
            <select class="form-control" id="Select2" onchange="selectColor1()" required>
              <option selected disabled hidden value="Status...">Status...</option>
              <option>Active</option>
              <option>Inactive</option>
              <option>Other</option>
            </select>
          </div>
        </div>
  
        <!--Moenie die save button verander nie-->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-40" id="savediv">
            <button type="submit" routerLink="/list3" class="btn btn-default" id="Save">NEXT</button>
          </div>
          <div class="col-sm-offset-1 col-sm-offset-1" id="savediv">
              <button type="submit" routerLink="/list1" class="btn btn-default" id="Save">BACK</button>
            </div>
        </div>
      </form>
      </div>
  </ion-content>
  