<ion-header>
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
        <ion-buttons slot="end">
            <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: white !important"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Voucher
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding-top: 7px">
        <ion-img src="/assets/RANGER VOUCHERHOED.jpg" style="margin: auto; width: 95%; color:rgb(102,173,177)"></ion-img>

        <div style="padding-top: 5px; padding-bottom: 7px">
            <ion-buttons routerLink="/" style="background-color: rgb(102,116,143); width: 95%;margin: auto;padding-bottom:5px; padding-top:10px; border-radius: 5px !important">
                <b style="color: rgb(102,116,143)">.........</b>
                <ion-img src="/assets/ios-save.svg" style=" width: 12%;height: 98.5%; color:rgb(102,116,143)"></ion-img>
                <p style="margin: auto; text-align: left; color:white; font-size:18px">
                    <b style="color: white">SAVE VOUCHER</b><b style="color: rgb(102,116,143)">.......</b>
                </p>
            </ion-buttons>
        </div>
    </div>
</ion-content>