<h1>John Doe</h1>
<div style="margin:auto; width: 45%;">
    <table style="border: none !important;">
        <tr style="border: none !important;">
            <td style="border: none !important;">
                <h5 align="left " style="color: black "> <img src="./assets/ios-call.svg " width="10% "><b>: 085748392</b></h5>
            </td>


            <td style="border: none !important;">
                <h5 align="right " style="color: black "><img src="./assets/ios-mail.svg " width="10% "><b>: jondoe@gmail.com</b></h5>
            </td>
        </tr>
    </table>
</div>

<hr class="hrow " />

<div class="table " style="width:40% !important; margin:auto; ">
    <table style="text-align: left !important;">
        <tr>
            <th style="border: 1px solid;text-align: left !important;">Roles</th>
            <td style="color:black !important;background-color: rgba(207, 209, 211, 0.75) !important; border: 1px solid black !important;text-align: left !important;">Ranger</td>
        </tr>
        <tr>
            <th style="border: 1px solid;text-align: left !important;">ID</th>
            <td style="color:black !important;background-color: rgba(207, 209, 211, 0.75) !important; border: 1px solid black !important;text-align: left !important;">9712080065099</td>
        </tr>
        <tr>
            <th style="border: 1px solid;text-align: left !important;">Emergency Name</th>
            <td style="color:black !important;background-color: rgba(207, 209, 211, 0.75) !important; border: 1px solid black !important;text-align: left !important;">Esther</td>
        </tr>
        <tr>
            <th style="border: 1px solid;text-align: left !important;">Emergency Number</th>
            <td style="color:black !important;background-color: rgba(207, 209, 211, 0.75) !important; border: 1px solid black !important;text-align: left !important;">0837789039</td>
        </tr>
        <tr>
            <th style="border: 1px solid;text-align: left !important;">Medical Aid</th>
            <td style="color:black !important;background-color: rgba(207, 209, 211, 0.75) !important; border: 1px solid black !important;text-align: left !important;">Liberty</td>
        </tr>
        <tr>
            <th style="border: 1px solid;text-align: left !important;">Blood type</th>
            <td style="color:black !important;background-color: rgba(207, 209, 211, 0.75) !important; border: 1px solid black !important;text-align: left !important;">O+</td>
        </tr>
        <tr>
            <th style="border: 1px solid;text-align: left !important;">Gender</th>
            <td style="color:black !important;background-color: rgba(207, 209, 211, 0.75) !important; border: 1px solid black !important;text-align: left !important;">Male</td>
        </tr>
        <tr>
            <th style="border: 1px solid;text-align: left !important;">Organisation</th>
            <td style="color:black !important;background-color: rgba(207, 209, 211, 0.75) !important; border: 1px solid black !important;text-align: left !important;">ERP</td>
        </tr>
        <tr>
            <th style="border: 1px solid;text-align: left !important;">Status</th>
            <td style="color:black !important;background-color: rgba(207, 209, 211, 0.75) !important; border: 1px solid black !important;text-align: left !important;">Active</td>
        </tr>
        <tr>
            <th style="border: 1px solid;text-align: left !important;">User Name</th>
            <td style="color:black !important;background-color: rgba(207, 209, 211, 0.75) !important; border: 1px solid black !important;text-align: left !important;">Jandre</td>
        </tr>
    </table>
</div>
<br>
<div style="width:40% !important; margin: auto" id="savediv">
    <button style="float: right;" type="submit" class="btn btn-default" id="Save" (click)="showToast()" data-toggle="collapse" data-target="#demo">Done</button>
</div>