<ion-header>
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
        <ion-buttons slot="end">
            <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: white !important"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Rewards
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <br>
    <div>
        <h5 align="center" style="color: black">
            GENERATED VOUCHERS
        </h5>
    </div>

    <hr style="color:white">
    <hr style="background-color: rgb(102,116,143); height: 3px;">
    <div>


        <ion-img src="/assets/RANGER VOUCHERHOED.jpg" style="margin: auto; width: 50%; color:rgb(102,116,143)"></ion-img>
        <div style="padding-top: 5px">
            <ion-buttons routerLink="/view-vouchar" style="background-color: rgb(102,116,143); width: 50%;margin: auto;padding-bottom:5px; padding-top:9px;border-radius: 5px !important">
                <b style="color: rgb(102,116,143)">.....</b>
                <ion-img src="/assets/ios-eye.svg" style=" width: 22%;height: 98.5%; color:rgb(102,116,143)"></ion-img>
                <p style="margin: auto; text-align: left; color:white; font-size:16px">
                    <b>VIEW</b><b style="color: rgb(102,116,143)">.......</b>
                </p>
            </ion-buttons>
        </div>
    </div>
    <hr style="background-color: rgb(102,116,143); height: 3px;">

    <div>
        <ion-img src="/assets/RANGER VOUCHERKEY CHAIN.jpg" style="margin: auto; width: 50%; color:rgb(102,116,143)"></ion-img>
        <div style="padding-top: 5px">
            <ion-buttons routerLink="/view-vouchar" style="background-color: rgb(102,116,143); width: 50%;margin: auto;padding-bottom:5px; padding-top:9px;border-radius: 5px !important">
                <b style="color: rgb(102,116,143)">.....</b>
                <ion-img src="/assets/ios-eye.svg" style=" width: 22%;height: 98.5%; color:rgb(102,116,143)"></ion-img>
                <p style="margin: auto; text-align: left; color:white; font-size:16px">
                    <b>VIEW</b><b style="color: rgb(102,116,143)">.......</b>
                </p>
            </ion-buttons>
        </div>
    </div>
    <hr style="background-color: rgb(102,116,143); height: 3px;">
    <div>
        <ion-img src="/assets/RANGER VOUCHERKEY CHAIN.jpg" style="margin: auto; width: 50%; color:rgb(102,116,143)"></ion-img>
        <div style="padding-top: 5px">
            <ion-buttons routerLink="/view-vouchar" style="background-color: rgb(102,116,143); width: 50%;margin: auto;padding-bottom:5px; padding-top:9px; border-radius: 5px !important">
                <b style="color: rgb(102,116,143)">.....</b>
                <ion-img src="/assets/ios-eye.svg" style=" width: 22%;height: 98.5%; color:rgb(102,116,143)"></ion-img>
                <p style="margin: auto; text-align: left; color:white; font-size:16px">
                    <b>VIEW</b><b style="color: rgb(102,116,143)">.......</b>
                </p>
            </ion-buttons>
        </div>
    </div>
    <hr style="background-color: rgb(102,116,143); height: 3px;">
</ion-content>