<ion-header>
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
        <ion-buttons slot="end">
            <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: white !important"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Add Vehicle
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #ref>
        <form #regform id="regForm" action="">
            <ion-card>
                <ion-card-content>
                    <div class="tab">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <ion-label style="color: black; margin-bottom:2% !important;" align="center" >Registration Details</ion-label>
                                <ion-input type="text" class="ion-padding-start form-control"
                                    style="margin-bottom:2% !important;" placeholder="Car Registration..."
                                    required="true"></ion-input>
                                <ion-select placeholder="Select Colour..." class="form-control" id="Select1"
                                    style="margin-bottom:10% !important;" onchange="selectColor()" required>
                                    <!-- <ion-select-option selected disabled hidden value="colour..." aria-placeholder="Gender...">G</ion-select-option> -->
                                    <ion-select-option>Red</ion-select-option>
                                    <ion-select-option>Yellow</ion-select-option>
                                    <ion-select-option>Orange</ion-select-option>
                                </ion-select>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                            <div class="form-group">
                                    <div class="col-sm-10">
                        <ion-label style="color: black; margin-bottom:2% !important;" align="center" >Vehicle Specifications</ion-label>
                        <ion-input type="text" class="ion-padding-start form-control"
                            style="margin-bottom:2% !important;" placeholder="Make..." required="true"></ion-input>
                        <ion-input type="text" class="ion-padding-start form-control"
                            style="margin-bottom:2% !important;" placeholder="Model..." required="true"></ion-input>
                        <ion-input type="text" class="ion-padding-start form-control"
                            style="margin-bottom:10% !important;" placeholder="Type Description..." required="true">
                        </ion-input>
                            </div>  </div>        
                    </div>
                    
                    <div class="col-sm-10" style="padding-bottom:5% !important;">
                        <div style="padding-bottom:5% !important;">
                            <ion-button id="prevBtn" (click)="nextPrev(-1)"  style="float: left"> Back</ion-button>
                            <ion-button id="nextBtn" (click)="nextPrev(1)" style="float: right" > Next</ion-button>
                        </div>        
                    </div>
                    <br>
    
    </ion-card-content>
    </ion-card>
    <!-- Circles which indicates the steps of the form: -->
    <div id="Steps" style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
    </div>
    </form>
    </div>
</ion-content>