@import url("https://fonts.googleapis.com/css?Family=Montserrat :500, 700");
button {
    background-color:rgba(227, 231, 237, 0.8);
      color: rgb(102,116,143);
    font-weight: bold;
      padding: 10px 20px;
      font-size: 13px;
      font-family: Montserrat;;
      cursor: pointer;
  }