<ion-header >
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
      <ion-buttons slot="end">
        <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
      </ion-buttons>
        <ion-buttons slot="end" >
        <ion-menu-button style="color: white !important"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Add Vehicle
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <style>
      * {
          box-sizing: border-box;
      }
      
      body {
          background-color: #f1f1f1;
      }
      
      #regForm {
          background-color: #ffffff;
          margin: 10% auto;
          font-family: Raleway;
          padding: 20px;
          width: 90%;
          
      }
      
      h1 {
          text-align: center;
      }
      
      
      input {
          padding: 10px;
          width: 100%;
          font-size: 17px;
          font-family: Raleway;
          border: 1px solid #aaaaaa;
      }
      /* Mark input boxes that gets an error on validation: */
      
      input.invalid {
          background-color: #ffdddd;
      }
      /* Hide all steps by default: */
      
      .tab {
          display: none;
      }
      
      button {
        background-color:rgba(227, 231, 237, 0.8);
      color: rgb(102,116,143);
    font-weight: bold;
      padding: 10px 20px;
      font-size: 13px;
      font-family: Montserrat;;
      cursor: pointer;
      }
      
      button:hover {
          opacity: 0.8;
      }
      
      #prevBtn {
          background-color: #bbbbbb;
      }
      /* Make circles that indicate the steps of the form: */
      
      .step {
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbbbbb;
          border: none;
          border-radius: 50%;
          display: inline-block;
          opacity: 0.5;
      }
      
      .step.active {
          opacity: 1;
      }
      /* Mark the steps that are finished and valid: */
      
      .step.finish {
          background-color: rgb(205,21,67);
      }
      
  </style>
  <ion-content>
      <div #ref class ="col-sm-10">
          <form #regform id="regForm" action="" style="background-color:slategrey">
             
              <!-- One "tab" for each step in the form: -->
              <div class="tab"><p style="color: white;" align="center">Registration Details</p>
                  <div class="form-group">
                    
                      <div class="col-sm-40">   
                            <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Car Registration..."  required="true"></ion-input>                
                            <ion-select placeholder="Select Colour..." class=" form-control" id="Select1" style="margin-bottom:2% !important;" onchange="selectColor()" required>
                                <!-- <ion-select-option selected disabled hidden value="colour..." aria-placeholder="Gender...">G</ion-select-option> -->
                                <ion-select-option>Red</ion-select-option>
                                <ion-select-option>Yellow</ion-select-option>
                                <ion-select-option>Orange</ion-select-option>
                              </ion-select>
                            
                            
                            <div class="form-group">
                               <div class="col-sm-40">
                                 
                               </div>
                       </div>
                      </div>
              </div></div>
              <div class="tab"><p style="color: white;" align="center">Vehicle Specifications</p>
                  <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Make..."  required="true"></ion-input>
                  <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Model..."  required="true"></ion-input>
                  <ion-input type="text" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Type Description..."  required="true"></ion-input>
             <div class ="collapse" id="demo" >  
              <p><input placeholder="Enter QR-Code here..." oninput="this.className = ''" name="EnterQRCode"></p>
              <button type="button" style="float: right;"><ion-icon name="add"></ion-icon></button>
            </div>
              <div class="col-md-10 user-container">
                </div>              
              </div>   
              <div style="overflow:auto;">
                  <div >
                      <button style =" float:left; border-radius:5px; color:rgb(102,116,143); background-color: rgba(227, 231, 237, 0.8) "type="button" id="prevBtn" (click)="nextPrev(-1)"><img src="./assets/ios-arrow-round-back.svg" alt="Previous" width="30px" height="20px" style=" color:rgb(102,116,143)"></button>
                  </div> 
                  <div style="float: right">
                      <button style ="border-radius:5px;" type="button" id="nextBtn" (click)="nextPrev(1)">Next</button>
                  </div>
              </div>
              <!-- Circles which indicates the steps of the form: -->
              <div style="text-align:center;margin-top:40px;">
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
              </div>
          </form>
      </div>
  </ion-content>