<ion-header>
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
        <ion-buttons slot="end">
            <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: white !important"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Add Vehicle
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <div class="inputForm">
                <form class="form-horizontal" id="modifyForm" [formGroup]="AddForm">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <div class="col-sm-40">
                                    <ion-input type="text" formControlName="CarRegistration" id="CarRegistration" name="CarRegistration" class="ion-padding-start form-control" style="margin-bottom:2% !important;" placeholder="Car Registration..." required="true"></ion-input>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-40">
                                    <ion-select placeholder="Select Make..." class="form-control" formControlName="Make" id="Select1" onchange="selectColor()" required>
                                        <!-- <ion-select-option selected disabled hidden value="Gender...">Model...</ion-select-option> -->
                                        <ion-select-option *ngFor="let item of MakeOptions" [(value)]="item.Make_ID">{{item.Name}} </ion-select-option>
                                    </ion-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-40">
                                    <ion-select placeholder="Select Model..." class="form-control" formControlName="Model" id="Select1" onchange="selectColor()" required>
                                        <!-- <ion-select-option selected disabled hidden value="Gender...">Model...</ion-select-option> -->
                                        <ion-select-option *ngFor="let item of ModelOptions" [(value)]="item.Model_ID">{{item.Model}} {{item.Year}}</ion-select-option>
                                    </ion-select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-40">
                                    <ion-select placeholder="Select Type..." class="form-control" formControlName="TypeDescription" id="Select1" onchange="selectColor()" required>
                                        <!-- <ion-select-option selected disabled hidden value="Gender...">Type...</ion-select-option> -->
                                        <ion-select-option *ngFor="let item of TypeOptions" [(value)]="item.Vehicle_Type_ID">{{item.Type_Description}}</ion-select-option>
                                    </ion-select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-40">
                                    <ion-select placeholder="Select Colour..." class=" form-control" formControlName="SelectColour" id="Select1" style="margin-bottom:2% !important;" onchange="selectColor()" required>
                                        <!-- <ion-select-option selected disabled hidden value="colour..." aria-placeholder="Gender...">G</ion-select-option> -->
                                        <ion-select-option [value]="Red">Red</ion-select-option>
                                        <ion-select-option [value]="White">White</ion-select-option>
                                        <ion-select-option [value]="Black">Black</ion-select-option>
                                        <ion-select-option [value]="Green">Green</ion-select-option>
                                        <ion-select-option [value]="Blue">Blue</ion-select-option>
                                        <ion-select-option [value]="Silver">Silver</ion-select-option>
                                        <ion-select-option [value]="Pink">Pink</ion-select-option>
                                        <ion-select-option [value]="Purple">Purple</ion-select-option>
                                        <ion-select-option [value]="Yellow">Yellow</ion-select-option>
                                        <ion-select-option [value]="Grey">Grey</ion-select-option>
                                        <ion-select-option [value]="Orange">Orange</ion-select-option>
                                        <ion-select-option [value]="Metelic">Metelic</ion-select-option>
                                    </ion-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-40">
                                    <ion-select placeholder="Select Status..." class="form-control" id="Select1" formControlName="Status" onchange="selectColor()" required>
                                        <!-- <ion-select-option selected disabled hidden value="Gender...">Status...</ion-select-option> -->
                                        <ion-select-option [value]="true">Active</ion-select-option>
                                        <ion-select-option [value]="false">Inactive</ion-select-option>
                                    </ion-select>
                                </div>
                            </div>
                            <div style="float:left;">
                                <ion-button style="margin-bottom:10%;" routerLink="/vehicles">Cancel</ion-button>
                            </div>
                            <div style="float:right;">
                                <ion-button (click)="update()" style="margin-bottom:10%;">Save Changes</ion-button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </ion-card-content>
    </ion-card>
    <!-- Circles which indicates the steps of the form: -->
</ion-content>