<h1>
    RANGER PERFORMANCE REPORT</h1>
<hr class="hrow" />
<div id="chartdiv" style="width: 85%; height: 500px; margin: auto"></div>
<br>
<hr class="hrow" />

<div class="outer">
    <div class="button">
        <button type="submit" class="btn btn-default" id="Save" (click)="Download()" data-toggle="collapse" data-target="#demo">Download PDF</button>
    </div>
    <!--Moenie buttons en search bar verander nie-->

</div>
<div id="content" #content>
    <div id="contentToConvert">
        <div id="chrt" align="center"></div>
        <br>
        <div class="table">
            <table class="table table-striped">
                <thead>
                    <tr id="header">
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Cellphone</th>
                        <th>Hours Patrolled</th>
                        <th>Points</th>
                        <th>Distance traveled</th>
                        <th>Markers passed</th>
                        <th>Monthly points</th>
                        <!--<th>Actions</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Performance of performances">
                        <td style="text-align: left;">{{Performance.Name}}</td>
                        <td style="text-align: left;">{{Performance.Surname}}</td>
                        <td style="text-align: left;">{{Performance.Cell}}</td>
                        <td style="text-align: right;">{{Performance.Points}}</td>

                        <!--Moenie die code verander nie. Sit net nuwe kollomme bo dit in-->

                    </tr>
                </tbody>

            </table>

        </div>
        <div id="chrt2" align="center"></div>
    </div>
</div>