
<h1>INCIDENTS</h1>
<hr class="hrow"/>
<br>

<div class='panels'>
    <div class="panel-group ">
        <mdb-card class="mb-3" borderColor="black">
          <mdb-card-header  class="headers" >
          <h5 class="white">Rhino Poaching</h5> <p class="white"><small class="text-white float"><i>Reported 3 minutes ago by John Doe</i></small></p>
          <p class="white"><small class="text-white float-r"><i>High Severity Level</i></small></p>
          </mdb-card-header>
            <mdb-card-body>
              <mdb-card-text>Rhino poached on the way to east fence, from gate 1. <button class="btn btn-default float" id="resolvedbtn" (click)="Toast()">Resolved</button></mdb-card-text>
              <p><a routerLink="/home">View location</a></p>
            </mdb-card-body>
          </mdb-card>
          <div class="panel-group ">
              <mdb-card class="mb-3" borderColor="black">
                <mdb-card-header  class="headers" >
                <h5 class="white">Rhino Poaching</h5> <p class="white"><small class="text-white float"><i>Reported 5 minutes ago by Jane Doe</i></small></p>
                <p class="white"><small class="text-white float-r"><i>High Severity Level</i></small></p>
              </mdb-card-header>
                  <mdb-card-body>
                    <mdb-card-text>Rhino poached on the way to east fence, from gate 1. <button class="btn btn-default float" id="resolvedbtn" >Resolved</button></mdb-card-text>
                    <p><a routerLink="/home">View location</a></p>
                  </mdb-card-body>
                </mdb-card>
</div>