
<h1>INCIDENTS</h1>
<hr class="hrow"/>
<br>

<div class='panels'>
    <div *ngFor="let Item of Incident" class="panel-group ">
        <mdb-card class="mb-3" borderColor="black">
          <mdb-card-header  class="headers" >
          <h5 class="white">{{Item.Type}}</h5> <p class="white"><small class="text-white float"><i>Reported 3 minutes ago by {{Item.Name}}</i></small></p>
          <p class="white"><small class="text-white float-r"><i>{{Item.Level}} Severity Level</i></small></p>
          </mdb-card-header>
            <mdb-card-body>
              <mdb-card-text>{{Item.Description}} <button class="btn btn-default float" id="resolvedbtn" (click)="Toast()">Resolved</button></mdb-card-text>
              <p><a routerLink="/home">View location</a></p>
            </mdb-card-body>
          </mdb-card>
          
</div>