<br>
<br>
<h1>INCIDENTS</h1>
<hr>
<br>

<div class='panels'>
    <div class="panel-group ">
        <mdb-card class="mb-3" borderColor="border-danger">
          <mdb-card-header  class="headers" >
          <h5 class="white">Rhino Poaching</h5> <p class="white"><small class="text-white float"><i>Reported 3 minutes ago by John Doe</i></small></p>
          </mdb-card-header>
            <mdb-card-body>
              <mdb-card-text>Rhino poached on the way to east fence, from gate 1. <button class="btn btn-default float" id="resolvedbtn">Resolved</button></mdb-card-text>
            </mdb-card-body>
          </mdb-card>
</div>