<ion-header>
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
        <ion-buttons slot="end">
            <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: white !important"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Register
        </ion-title>
    </ion-toolbar>
</ion-header>

<style>
    * {
        box-sizing: border-box;
    }
    
    body {
        background-color: #f1f1f1;
    }
    
    #regForm {
        background-color: #ffffff;
        margin: 10% auto;
        font-family: Raleway;
        padding: 20px;
        width: 90%;
    }
    
    h1 {
        text-align: center;
    }
    
    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }
    /* Mark input boxes that gets an error on validation: */
    
    input.invalid {
        background-color: #ffdddd;
    }
    /* Hide all steps by default: */
    
    .tab {
        display: none;
    }
    
    button {
        background-color: #4CAF50;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    #prevBtn {
        background-color: #bbbbbb;
    }
    /* Make circles that indicate the steps of the form: */
    
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }
    
    .step.active {
        opacity: 1;
    }
    /* Mark the steps that are finished and valid: */
    
    .step.finish {
        background-color: #4CAF50;
    }
</style>
<ion-content>
    <div #ref>
        <form #regform id="regForm" action="">
            <h1>Register:</h1>
            <!-- One "tab" for each step in the form: -->
            <div class="tab">Step 1 -Ranger Name & Surname
                <p><input placeholder="First Name..." oninput="this.className = ''" name="fname"></p>
                <p><input placeholder="Last Name..." oninput="this.className = ''" name="lname"></p>

            </div>
            <div class="tab">Step 2 - Personal information:
                <p><input placeholder="Identification Number..." oninput="this.className = ''" name="rangerId"></p>
                <p><input placeholder="E-mail..." oninput="this.className = ''" name="email"></p>
                <p><input placeholder="Cellphone..." oninput="this.className = ''" name="phone"></p>
                <div class="form-group">
                    <div class="col-sm-40">
                        <select class="form-control" id="Select1" onchange="selectColor()" required>
                            <option selected disabled hidden value="Gender...">Gender...</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                          </select>
                    </div>
                </div>
                <p><input placeholder="Jobtitle..." oninput="this.className = ''" name="jobtitle"></p>
                <div class="form-group">
                    <div class="col-sm-40">
                        <select class="form-control" id="Select2" onchange="selectColor1()" required>
                            <option selected disabled hidden value="Status...">Status...</option>
                            <option>Active</option>
                            <option>Inactive</option>
                            <option>Other</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="tab">Step 3 - Medical information:
                <p><input placeholder="Emergency contact's Name" oninput="this.className = ''" name="emergencycontactName"></p>
                <p><input placeholder="Emergency contact Number" oninput="this.className = ''" name="EmergencycontactNumber"></p>
                <p><input placeholder="Medical Aid" oninput="this.className = ''" name="MedicalAid"></p>
                <div class="form-group">
                    <div class="col-sm-40">
                        <select class="form-control" id="Select1" onchange="selectColor()" required>
                            <option selected disabled hidden value="Bloodtype...">Bloodtype...</option>
                            <option>A+</option>
                            <option>B+</option>
                            <option>AB+</option>
                            <option>O+</option>
                            <option>A-</option>
                            <option>B-</option>
                            <option>AB-</option>
                            <option>O-</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="tab">Step 4 - Login Info:
                <p><input placeholder="Ranger Username..." oninput="this.className = ''" name="username"></p>
                <p><input placeholder="Password..." oninput="this.className = ''" name="password"></p>
                <p><input placeholder="Confirm Password..." oninput="this.className = ''" name="confirmpassword"></p>
            </div>
            <div style="overflow:auto;">
                <div style="float:right;">
                    <button type="button" id="prevBtn" (click)="nextPrev(-1) " class="btn btn-default btn-sm">Previous</button>
                    <button type="button" id="nextBtn" (click)="nextPrev(1)" class="btn btn-default btn-sm">Next</button>
                </div>
            </div>
            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
        </form>
    </div>
</ion-content>