<h1>
    RANGERS ON DUTY</h1>
<hr class="hrow" />
<br>
<div id="mapDiv">
    <div #map style="width:80%;height:100%; margin: auto;"></div>
    <!-- <img src="/assets/Map.PNG" id="Map"/> -->
</div>

<br>
<div>
    <h1>BOOKINGS</h1>
    <hr class="hrow" />
</div>
<div class='app-calendar'>
    <full-calendar #calendar defaultView="dayGridMonth" [header]="{
  left: 'prev,next today',
  center: 'title',
  right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
}" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents" [nowIndicator]="true" [eventStartEditable]="true" [eventDurationEditable]="true" [displayEventTime]="true" [displayEventEnd]="true" [eventLimit]='4' [eventLimitClick]="popover" ></full-calendar>
</div>