<br>
<br>
<h1>Modify Marker Type</h1>
<hr>
<br>

<div class="inner">
    <div class="back">
        <button class="btn btn-default btn-sm" id="backBTN" routerLink="/markertype">
          <img src="/assets/ios-arrow-round-back.svg" class="BackBTN" /></button>
    </div>
    <br>
    <form class="form-horizontal" id="modifyForm" action="">

        <div class="form-group">
            <br>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Level" placeholder="Marker Type Description..." name="Level" required>
            </div>
            <br>
            <div class="col-sm-10">
                <select class="form-control" id="Select1" onchange="selectColor()" required>
                    <option selected disabled hidden value="Gender...">Points Worth...</option>
                    <option>10</option>
                    <option>7</option>
                    <option>5</option>
                  </select>
            </div>
        </div>
        <!--Moenie die save button verander nie-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" id="savediv">
                <button type="submit" class="btn btn-default" id="Save" (click)="Toast()" routerLink="/markertype">Save</button>
            </div>
            <br>
            <br>
        </div>
    </form>
</div>


<div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: left !important;"><img src="/assets/ios-alert.svg" style="width:40px; margin-top:0px;" />Error</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right !important;">&times;</button>
            </div>
            <div class="modal-body">
                <p>The input provided is incorrect. Please try again.</p>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right !important;" id="modalClose">Close</button>
            </div>
        </div>
    </div>
</div>