<ion-header>
    <ion-toolbar>
        <ion-img src="/assets/ERP_LOGO.svg" class="erplog" slot="start"></ion-img>
        <ion-buttons slot="end">
            <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: white !important"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Notifications
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let item of Incidents">
        <ion-card-content>
            <div class="media border p-3" style="padding:0px; border-color: rgb(33, 90, 97) !important;">
                <div class="media-body" style="padding:0px ;color: rgb(33, 90, 97);">
                    <h4 style="font-size: 85%; color:black; border-bottom: 2px solid rgb(205, 21, 67);padding-bottom:5px; width:100%; padding-top:0px; text-align: left !important;">{{item.Type}}</h4>
                    <p style="font-size: 80%; color:black; text-align: left !important;">{{item.Description}}</p>
                    <small style="font-size: 70%; color:black; float:right;"><i>Reported on {{item.Date}} by {{item.Name}} {{item.Surname}}</i></small>
                    <div *ngFor="let item1 of Images">
                        <ion-grid>
                            <ion-row>
                                <ion-col *ngIf="item1.id == item.ID">
                                    <div>
                                        <ion-thumbnail>
                                            <img [src]="item1.image" />
                                        </ion-thumbnail>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>

                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let item of Notifications">
        <ion-card-content>
            <div class="media border p-3" style="padding:0px; border-color: rgb(33, 90, 97) !important;">
                <div class="media-body" style="padding:0px ;color: rgb(33, 90, 97);">
                    <h4 style="font-size: 85%; color:black; border-bottom: 2px solid rgb(205, 21, 67);padding-bottom:5px; width:100%; padding-top:0px; text-align: left !important;">{{item.Title}}</h4>
                    <p style="font-size: 80%; color:black; text-align: left !important;">{{item.Message}}</p>
                    <small style="font-size: 70%; color:black; float:right;"><i>Posted on {{item.Date}} by {{item.Ranger}}</i></small>
                </div>
            </div>
        </ion-card-content>
    </ion-card>



</ion-content>