<ion-header >
  <ion-toolbar>
      <ion-img src="/assets/ERP_LOGO.svg" slot="start" class="erplog"></ion-img>
    <ion-buttons slot="end">
      <ion-icon ios="ios-notifications" md="md-notifications" style="color: white !important"></ion-icon>
    </ion-buttons>
      <ion-buttons slot="end" >
      <ion-menu-button style="color: white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="media border p-3" style="padding:0px;">
    <div class="media-body" style="padding:0px;">
      <h4 style="font-size: 85%; color:white; border-bottom: 2px solid gray;padding-bottom:5px; width:100%; padding-top:0px;">Full Moon</h4>
      <p style="font-size: 80%; color:white;">Hi guys, remember that Tomorrow evening is a full moon, so be on the lookout!</p>
    <small style="font-size: 70%; color:white; float:right;"><i>Posted on 19/02/2019 by John Doe</i></small>
    </div>
  </div>
  <br>
  <div class="media border p-3" style="padding:0px;">
    <div class="media-body" style="padding:0px;">
      <h4 style="font-size: 85%; color:white; border-bottom: 2px solid gray;padding-bottom:5px; width:100%; padding-top:0px;">Ranger Shortage</h4>
      <p style="font-size: 80%; color:white;">Hello everyone! We still need a few people to patrol next week, please!</p>
    <small style="font-size: 70%; color:white; float:right;"><i>Posted on 19/02/2019 by Jane Doe</i></small>
    </div>
  </div>
    <br>
    <div class="media border p-3" style="padding:0px;">
      <div class="media-body" style="padding:0px;">
        <h4 style="font-size: 85%; color:white; border-bottom: 2px solid gray;padding-bottom:5px; width:100%; padding-top:0px;">Be aware</h4>
        <p style="font-size: 80%; color:white;">Be on the lookout tonight, we have had numerous fence cuttings this week.</p>
      <small style="font-size: 70%; color:white; float:right;"><i>Posted on 19/02/2019 by Jane Doe</i></small>
      </div>
    </div>
</ion-content>