<!--NAVIGATION BAR - MOENIE verander nie-->
<nav class="navbar navbar-expand-sm fixed-top">
  <!-- logo -->
  <div class="container-fluid">
  <a class="navbar-brand " routerLink="/">
    <img src="/assets/logo_ERP-03.png" alt="ERP logo" id="logo">
  </a>
  <!-- Links -->
  <div id="left">
  <ul class="navbar-nav navbar-left">
    <li class="nav-item dropdown"><a class="nav-link" routerLink="/">HOME</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        USER
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item">- Register User</a>
        <a class="dropdown-item">- User Roles</a>
        <a class="dropdown-item">- Vehicles</a>
        <a class="dropdown-item">- Admin</a>
        <a routerLink="/rangers" class="dropdown-item"  >- Rangers</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        REPORTS
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item">- Performance</a>
        <a class="dropdown-item">- Incident</a>
        <a class="dropdown-item">- Vehicles</a>
        <a class="dropdown-item">- Assets</a>
        <a class="dropdown-item">- Rewards</a>
        <a class="dropdown-item">- Status</a>
        <a class="dropdown-item">- Rangers</a>
        <a class="dropdown-item">- Markers</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        ASSETS
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item">- Order</a>
        <a class="dropdown-item">- Supplier</a>
        <a class="dropdown-item">- Asset</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        REWARDS
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item">- Reward</a>
        <a class="dropdown-item">- Reward Type</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        NOTIFICATIONS
      </a>
      <div class="dropdown-menu">
          <a class="dropdown-item" data-toggle="modal" data-target="#messagepopup">- Capture Message</a>
          <a class="dropdown-item" routerLink="/notify">- Notifications</a>
          <a routerLink="incident-type" class="dropdown-item">- Incident Type</a>
          <a routerLink="/incident-level"  class="dropdown-item" >- Incident Level</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        RESERVE
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item">- Gates</a>
        <a class="dropdown-item">- Security</a>
        <a class="dropdown-item">- Reserves</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        PATROL
      </a>
      <div class="dropdown-menu">
          <a class="dropdown-item">- Patrol Log</a>
          <a class="dropdown-item">- Marker</a>
        <a class="dropdown-item">- Marker Type</a>
        
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/incident'>INCIDENTS
         <span class="badge badge-light">2</span>
        </a>
    </li>
  <br>
</ul>
</div>
<div id="right">
    <div class="dropdown Logout" id="logoutbutton">
      <a class="nav-link dropdown-toggle" href="#" id="logoutbutton" data-toggle="dropdown">
        John Doe
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/profile" >- Profile</a>
        <a class="dropdown-item"  (click)="showToast()">- Help</a>
        <a class="dropdown-item" id="Out" data-toggle="modal" data-target="#myModal" >- Logout</a>
      </div>
    </div>
</div>
</div>
</nav>

<div class="modal fade" id="messagepopup" role="dialog" data-backdrop="static" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h4 class="modal-title" style="text-align: left !important;">Capture Message</h4>
        <button type="button" class="close" data-dismiss="modal" style="float:right !important;">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <label>Please complete the following fields:</label>
        <div class="form-group">
          <input type="text" class="form-control" id="TitleInput"  placeholder="Title..." required style="background-color: rgba(62,105,112,0.7)!important; color:white;">
        </div>

        <div class="form-group">
          <textarea class="form-control" id="Message" placeholder="Message..." style="background-color: rgba(62,105,112,0.7)!important;" required></textarea>
        </div>
        <button type="submit" class="btn btn-default" style="float: right !important;" mat-button (click)="openSnackBar('Party', 'act')" data-dismiss="modal"  id="modalClose">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>

